body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

/* background: #E5E5E5; */



/* Navbar */
.nav-mother {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px -5px black;
    /* margin-top: 0.25%; */
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #005C9A;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #E5E5E5;

    font-size: 18px;
}

.navbar div a {
    color: #005C9A;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5;
}

.navbar a:hover {
    background-color: #ffffff;
}

.nvc img {
    height: 45px;
    /* padding: 9; */
    margin-right: 50;

    margin-top: 0%;


}




/* /* Footer */

.cmnty {
    height: 30px;
    width: 30px;
}

.foot-one {
    background: #4AA5E2;
}

/* .cmnty:nth-child(5){
    height: 40px;
    margin-bottom: 2%;
} */
/* .cus h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 2%;
} */


.flexbox {
    display: flex;
    justify-content: space-around;
    padding: 4%;
}

.send {
    background: #18A0FB;
    border-radius: 6px;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    color: #ffffff;
    border: none;
    width: 200px;
    margin-bottom: 6%;
}

.jub {
    color: #18A0FB;
    width: 200px;
    height: 30px;
    margin-top: 5%;
}


.fabx img {
    height: 22px;
    width: 22px;
}

.address {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.container-one {
    margin-top: 10%;
}

.foot-two {
    display: flex;
    justify-content: space-around;
}



:placeholder-shown {
    justify-content: center;
}


.deta {
    display: flex;
    justify-content: space-between;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0px;
}

.foot-two a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.foot-two {
    padding: 2%;
}

.feta {
    display: flex;
    justify-content: space-around;
    margin-left: 40%;
    margin-right: 40%;

    padding: 1%;
}


.pgend {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
}


/* HOME PAGE */

.banner {
    padding-left: 25%;
    padding-right: 10%;
    background: #ffffff;
    height: 700px;
}

.dashboard {
    background-color: #4AA5E2;
    ;
}

.title {
    padding-left: 4%;
    padding-top: 2%;
    color: #ffffff;
}

.bag {
    display: flex;
    padding: 8%;
    text-align: center;
    padding-top: 1%;
    flex-grow: 2;
}

.update {
    /* margin-left: 12%; */
    justify-content: flex-end;
    /* margin-right: 0; */
    padding: 5%;
}

.set {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-bottom: 1%;
    padding-top: 4%;
    /* margin-left: 8%; */

}

.set.two {
    margin-left: 4%;
}

#learn {
    background-color: #ffffff;
    color: #4AA5E2;
    border: none;
    border-radius: 5px;
    padding: 2%;
}


.menu1 {
    display: flex;
    justify-content: space-between;
    padding: 8%;
}

.rckt {
    text-align: center;
}

.vmp {
    height: 100px;
    width: 100px;
}

/* .vmp :nth-child(1){
    height: 90px;
    width: 90px;
} */
.rckt.tw {
    margin-left: 5%;
    margin-top: 0;
}

.menu2,
.menu3,
.menu4 {
    display: flex;
    justify-content: space-around;
    padding: 60;
}

.menu3 .entry p,
h3 {
    text-align: center;
    justify-content: center;
}

.menu2 #visit {
    margin-left: 42%;
}

.menu2 .entry p,
h3 {
    text-align: center;
    justify-content: center;
}

.menu4 {
    flex-direction: column;
}

.menu4 .hdg {
    text-align: center;
}

.empty {
    /* background: #E5E5E5; */
    height: 200px;
    width: 300px;
    margin: 2%;
}

#pc {
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 6%;
}

#pc img {
    box-shadow: 7px 7px 7px -7px black;
    width: 500px;
    height: 250px;
}

#about_us {
    padding: 5%;
}

img#clg {
    height: 180px;
    width: 280px;
    color: #4AA5E2;
    background-color: #ffffff;
    margin-left: 40%;

}

.menu3 {
    background: #4AA5E2;

}

.icn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icst {
    display: flex;
    justify-content: space-around;
}

.icst img {
    padding: 2%;
    height: 60px;
}



/* Events Page */


div.head-content {
    margin: 5%;
}
h1.title-one {
    text-align: center;
}
div.main {
    margin: 5%;
}















/* Event Details */

.dch h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}

div.dch {
    margin-top: 7%;
}

span.btn-one {
    background-color: #ffbf00;
}

span.btn-two {
    background-color: #358310;
}

.bgbtn span {
    padding: 0.5%;
    border-radius: 10px;
}

.bgbtn {
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}

.intro {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.ghj {
    line-height: 30px;
}

.bnm {
    text-align: center;
}

.bluebtns {
    margin-left: 27%;
}


/* Flex  */

.flexcontainer {
    display: flex;
    padding: 5%;
}

#doodle {
    width: 75%;
}

.flex2 {
    margin-left: 8%;
    margin-top: 7%;
}


.bluebtns {
    margin-top: 6%;
}

.read {
    background-color: #4AA5E2;
    border: none;
    border-radius: 20px;
    padding: 2%;
    color: #ffffff;
}