/* CONSTANTS */

/* 1. Navbar */

div.nav-mother {
    background-color: #E5E5E5;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px -5px black;
}

/* a.nav-link {
    color: #005C9A;

} */

.navbar-light .navbar-nav .nav-link {
    color: #005C9A;
}





















/* /* Footer */

img.cmnty {
    height: 30px;
    width: 30px;
    padding: 5px;
}

div.feta {
    display: flex;
    justify-content: center;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0px;
    margin-top: 4%;
}

div.pgend {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2%;
}

div.foot-three {
    margin-top: 2%;
}







/* 1.Home Page */


/* a. Banner */

div.banner-container {
    background-color: black;
}

div.main-head h1 {
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

div.bannerflex {
    margin: 3%;
    padding: 3%;
}

div.card.first {
    background-color: #FFE5B4;
    text-align: center;
}

div.card.sec {
    background-color: #2f2f2f;
    color: #f9f6f2;
    text-align: center;
}

div.main-head {
    /* margin-top: 5%; */
}


/* b.Execom */
div.dashboard-container{
    background-color: #4AA5E2;
}
div.execom-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.exc-head h3 {
    text-align: center;
    margin: 4%;
}

div.exm-name {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img.eximg {
    border-radius: 130px;
    border: 7px solid black;
}

/* c. Dashboard */










/* 2.Events Page */


div.head-content {
    margin: 5%;
    margin-top: 10%;
}

h1.title-one {
    text-align: center;
}

div.main {
    margin: 5%;
}